In [1]:
'''                                                    SVM
-used for regression and classification
-same like logistic regression and also makkes a line
-hyperplane
-support vector
-margin
-kernals
2D me usey line bolte h 
orr 3D me usey hyperplane bolte h
yeh linear data ko toh handel krti hi h orr non linear data ko bhi ache se handle krleti h

Hyperplane equation: w_T*x+b=0
w_T: weight vector
b:bias

Decision function: yeh prediction krne me help krta h
humare hyperplane ko ek function se pass kr dia

Margin: 

Hard Margin:yeh linear data pe work krta h jab aap apne data ko properly ek line se seperate kr sakte h

Soft margin: jab humare paas ho non linear data
isme ek naya variable inroduce hota h called slack variable
c: isko hum use krte h regularization()
TRADEOFF:
you gain something but you have to loose or reduce something else in return


KERNEL:
kernel ek mathematical function hota hai jo data ko higher-dimensional 
space me map karta hai, taki woh easily separable ho jaaye.
iska kaam h humare non linear data ko handel krta h
data ki dimenions badha dete h
2D ko 3D me kr dete h
-Linear kernel
-Polynomial kernel
-RBF yeh exponential ka kaam krta h
mostly RBF hi use hota h
'''

'                                                    SVM\n-used for regression and classification\n-same like logistic regression and also makkes a line\n-hyperplane\n-support vector\n-margin\n-kernals\n2D me usey line bolte h \norr 3D me usey hyperplane bolte h\nyeh linear data ko toh handel krti hi h orr non linear data ko bhi ache se handle krleti h\n\nHyperplane equation: w_T*x+b=0\nw_T: weight vector\nb:bias\n\nDecision function: yeh prediction krne me help krta h\nhumare hyperplane ko ek function se pass kr dia\n\nMargin: \n\nHard Margin:yeh linear data pe work krta h jab aap apne data ko properly ek line se seperate kr sakte h\n\nSoft margin: jab humare paas ho non linear data\nisme ek naya variable inroduce hota h called slack variable\nc: isko hum use krte h regularization()\nTRADEOFF:\nyou gain something but you have to loose or reduce something else in return\n\n\nKERNEL:\nkernel ek mathematical function hota hai jo data ko higher-dimensional \nspace me map karta hai, taki woh easily separable ho jaaye.\niska kaam h humare non linear data ko handel krta h\ndata ki dimenions badha dete h\n2D ko 3D me kr dete h\n-Linear kernel\n-Polynomial kernel\n-RBF yeh exponential ka kaam krta h\nmostly RBF hi use hota h\n'

In [125]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [126]:
df=pd.read_csv(r"C:\Users\Gargi\OneDrive\Desktop\data science\MACHINE LEARNING\Data\income_evaluation.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [127]:
df.duplicated().sum()

24

In [128]:
df=df.drop_duplicates()

In [129]:
df.isnull().sum()

age                0
 workclass         0
 fnlwgt            0
 education         0
 education-num     0
 marital-status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital-gain      0
 capital-loss      0
 hours-per-week    0
 native-country    0
 income            0
dtype: int64

In [130]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32537 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32537 non-null  int64
 1    workclass       32537 non-null  object
 2    fnlwgt          32537 non-null  int64
 3    education       32537 non-null  object
 4    education-num   32537 non-null  int64
 5    marital-status  32537 non-null  object
 6    occupation      32537 non-null  object
 7    relationship    32537 non-null  object
 8    race            32537 non-null  object
 9    sex             32537 non-null  object
 10   capital-gain    32537 non-null  int64
 11   capital-loss    32537 non-null  int64
 12   hours-per-week  32537 non-null  int64
 13   native-country  32537 non-null  object
 14   income          32537 non-null  object
dtypes: int64(6), object(9)
memory usage: 4.0+ MB

In [132]:
df.columns
#isme columns k name k andar starting me space aara h

Index(['age', ' workclass', ' fnlwgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' income'],
      dtype='object')

In [133]:
np.unique(df[" income"])

array([' <=50K', ' >50K'], dtype=object)

In [134]:
df.drop(" fnlwgt",axis=1,inplace=True)

In [135]:
df.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [136]:
#to deal with space
col_name=['age', 'workclass', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income']
df.columns=col_name

In [137]:
df.columns
#hum manually na krke bhi kr skte h using strip

Index(['age', 'workclass', 'education', 'education-num', 'marital-status',
       'occupation', 'relationship', 'race', 'sex', 'capital-gain',
       'capital-loss', 'hours-per-week', 'native-country', 'income'],
      dtype='object')

In [138]:
df.loc[df["workclass"]==" ?"]
#isko remove krna padhta h

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
27,54,?,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
61,32,?,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K
69,25,?,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
77,67,?,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,2,United-States,<=50K
106,17,?,10th,6,Never-married,?,Own-child,White,Female,34095,0,32,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,?,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32531,30,?,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32539,71,?,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32541,41,?,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K

In [139]:
df.loc[df["workclass"]==" ?"]=np.NaN
df.loc[df["occupation"]==" ?"]=np.NaN
df.loc[df["native-country"]==" ?"]=np.NaN

In [140]:
df.isnull().sum()

age               2398
workclass         2398
education         2398
education-num     2398
marital-status    2398
occupation        2398
relationship      2398
race              2398
sex               2398
capital-gain      2398
capital-loss      2398
hours-per-week    2398
native-country    2398
income            2398
dtype: int64

In [141]:
df.dropna(inplace=True)

In [142]:
#to change our income column data type
df["income"]=df["income"].map({" <=50K":0," >50K":1})
df.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39.0,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,0
1,50.0,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,0
2,38.0,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,0
3,53.0,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,0
4,28.0,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,0

In [143]:
df["income"].value_counts()

income
0    22633
1     7506
Name: count, dtype: int64

In [82]:
num_col["income"].value_counts()

income
0    22633
1     7506
Name: count, dtype: int64

In [ ]:
low=df[df["income"]==0]
high=df[df["income"]==1]

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39.0,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,0
1,50.0,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,0
2,38.0,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,0
3,53.0,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,0
4,28.0,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32553,32.0,Private,Masters,14.0,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0.0,0.0,11.0,Taiwan,0
32555,22.0,Private,Some-college,10.0,Never-married,Protective-serv,Not-in-family,White,Male,0.0,0.0,40.0,United-States,0
32556,27.0,Private,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0.0,0.0,38.0,United-States,0
32558,58.0,Private,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0.0,40.0,United-States,0
32559,22.0,Private,HS-grad,9.0,Never-married,Adm-clerical,Own-child,White,Male,0.0,0.0,20.0,United-States,0

In [145]:
low=low.sample(7506)

In [146]:
balanced=pd.concat([low,high],axis=0)
balanced.shape

(15012, 14)

In [148]:
cat_col=balanced.select_dtypes(include="object")

In [149]:
num_col=balanced.select_dtypes(exclude="object")

In [150]:
num_col["income"].value_counts()

income
0    7506
1    7506
Name: count, dtype: int64

In [151]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
cat_col_encoded=cat_col.apply(le.fit_transform)
cat_col_encoded

,workclass,education,marital-status,occupation,relationship,race,sex,native-country
418,1,1,5,6,1,2,1,37
15182,2,15,4,2,3,4,1,37
24745,2,11,5,10,1,2,1,37
13526,1,9,0,9,1,4,0,37
11749,2,9,4,5,1,2,1,37
...,...,...,...,...,...,...,...,...
32538,2,9,0,9,4,2,0,37
32545,1,7,2,0,5,4,0,37
32554,2,12,2,3,0,4,1,37
32557,2,11,2,6,0,4,1,37
32560,3,11,2,3,5,4,0,37

In [152]:
final_df=pd.concat([cat_col_encoded,num_col],axis=1)

In [153]:
x=final_df.drop("income",axis=1)
y=final_df["income"]

In [154]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [155]:
#standard scaler yeh data ko normalix=ze krne k kaam ata h
#yeh data k mean ko 0 krdeta h or standard deviation ko 1 kr dete h
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [156]:
#SVC apply krna padega kyoki classification problem h
#SVr for regression
from sklearn.svm import SVC
svc=SVC()
svc.fit(x_train_scaled,y_train)

SVC()

In [157]:
svc.score(x_test_scaled,y_test)

0.8201438848920863

In [158]:
svc.score(x_train_scaled,y_train)

0.8368416378008704

In [159]:
#kaise hum hyperparameter tuning krte h
#kaise hum parameters ko apne according cahnge kr sakte h
from sklearn.model_selection import GridSearchCV
grid={
    "C":[0.01,0.1,1,10],
    "kernel":["linaer",'rbf','play','sigmoid'],
    "degree":[1,3,5,7],
    "gamma":[0.01,1]
}
svm=SVC()
svm_cv=GridSearchCV(svm,grid,cv=5)
svm_cv.fit(x_train_scaled,y_train)

KeyboardInterrupt:

In [ ]:
svm_cv.best_params_
svm_cv.best_score_

In [ ]:
#gird search cv